/* GLBAL CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3rem;
}

h4,
h5 {
  font-size: 2.8rem;
}

li {
  font-size: 2rem;
}
a {
  color: white;
  text-decoration: none;
}
/* HEADER */
.main-head {
  background: #808080;
  color: orange;
}

nav {
  min-height: 5vh;
  display: flex;
  align-items: center;
  width: 90%;
  margin: auto;
  padding: 2rem;
}

nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

#logo {
  flex: 2 1 40rem;
}

/* HERO */
.hero {
  min-height: 90vh;
  background-color: teal;
}
